In [14]:
!pip3 install sklearn pandas numpy

Requirement already satisfied: sklearn in ./.local/lib/python3.7/site-packages (0.0)
Requirement already satisfied: pandas in ./.local/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/site-packages (1.19.4)
Requirement already satisfied: scikit-learn in ./.local/lib/python3.7/site-packages (from sklearn) (1.0.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /runtime-addons/cmladdon-python-2.0.25-b110/opt/cmladdons/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /runtime-addons/cmladdon-python-2.0.25-b110/opt/cmladdons/python/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /runtime-addons/cmladdon-python-2.0.25-b110/opt/cmladdons/python/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./.local/lib/python3.7/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in ./.local/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in ./.local/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.1.0)

In [6]:
!ls

0_CreateData.ipynb		  0_DeepTextGenerator.ipynb  requirements.txt
0_CreateData_SparkExamples.ipynb  0_TextGenerator.ipynb      snow
0_CreateMarketingData.ipynb	  data			     sonnets.txt
0_CreateWebrootData.ipynb	  README.md

In [7]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [42]:
original_df = pd.read_csv('/home/cdsw/data/sample_movielens_data.txt', sep='::')

/home/cdsw/.local/lib/python3.7/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [11]:
original_df

       0   2  3
0      0   3  1
1      0   5  2
2      0   9  4
3      0  11  1
4      0  12  2
...   ..  .. ..
1495  29  90  4
1496  29  93  1
1497  29  94  4
1498  29  97  1
1499  29  99  1

[1500 rows x 3 columns]

In [13]:
original_df.max()

0    29
2    99
3     5
dtype: int64

In [48]:
large_df = np.stack((np.random.randint(0, 30, 10000000),np.random.randint(0, 100, 10000000),np.random.randint(0, 5, 10000000)), axis=-1)

In [49]:
np.savetxt('/home/cdsw/data/sample_movielens_data_large.txt', large_df,fmt='%s', delimiter='::')