# Snow Dummy Data

In [6]:
import pandas as pd
import numpy as np
import os
from faker import Faker
import random, string

In [7]:
fake = Faker('en_US')

Case Table

In [23]:
reviews_austin = pd.read_csv("../data/reviews_austin.csv.gz", compression="infer")
reviews_boston = pd.read_csv("../data/reviews_boston.csv.gz", compression="infer")
reviews_bristol = pd.read_csv("../data/reviews_bristol.csv.gz", compression="infer")
reviews_capetown = pd.read_csv("../data/reviews_capetown.csv.gz", compression="infer")

In [27]:
print(reviews_austin.shape)
print(reviews_boston.shape)
print(reviews_bristol.shape)
print(reviews_capetown.shape)

(315661, 6)
(126851, 6)
(98580, 6)
(347121, 6)

In [26]:
reviews_boston.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3781,37776825,2015-07-10,36059247,Greg,The apartment was as advertised and Frank was ...
1,3781,41842494,2015-08-09,10459388,Tai,It was a pleasure to stay at Frank's place. Th...
2,3781,45282151,2015-09-01,12264652,Damien,The apartment description is entirely faithful...
3,3781,49022647,2015-09-30,41426327,Mike,Thoroughly enjoyed my time at Frank's home. Ha...
4,3781,52503327,2015-10-30,15151513,Ivan,Great value for the money! This location has e...

In [37]:
CT_groups = ['A','B','C','D','E']

In [38]:
ct = {} 
#SDNS_AGENT_USAGE_TEST
rg = 20000
ct['CREATED'] = [fake.past_datetime() for i in range(rg)]
ct['CASE_NUMBER'] = [random.randint(1000,9999) for i in range(rg)]
ct['COMPANY'] = [''.join(random.choices(string.ascii_letters + string.digits, k=20)) for i in range(rg)]
ct['DESCRIPTION'] = reviews_austin['comments'].iloc[:rg]
ct['RESOLVED_AT'] = [fake.past_datetime() for i in range(rg)]
ct['GROUP'] = [random.choice(CT_groups) for i in range(rg)]
ct['LOCATION'] = [fake.city() for i in range(rg)]
ct['TEXT'] = reviews_boston['comments'].iloc[:rg]

In [39]:
#pd.DataFrame([fake.past_datetime() for i in range(2)]).astype("int64") // 10**9

In [40]:
case_table = pd.DataFrame(ct)
case_table.to_csv("../data/case_table.csv", index=False)

Knowledge Table

In [41]:
KT_groups = ['A','B','C','D','E','F','G']

In [42]:
kt = {} 
#SDNS_AGENT_USAGE_TEST
rg = 20000
kt['ARTICLE_NUMBER'] = [random.randint(1000,9999) for i in range(rg)]
kt['CASE_NUMBER'] = [random.randint(1000,9999) for i in range(rg)]
kt['DESCRIPTION'] = reviews_bristol['comments'].iloc[:rg]
kt['BODY'] = reviews_capetown['comments'].iloc[:rg]
kt['ATTACHED_ON'] = [fake.past_datetime() for i in range(rg)]
kt['GROUP'] = [random.choice(KT_groups) for i in range(rg)]

In [43]:
kt_table = pd.DataFrame(kt)
kt_table.to_csv("../data/knowledge_table.csv", index=False)

In [44]:
kt_table.head()

,ARTICLE_NUMBER,CASE_NUMBER,DESCRIPTION,BODY,ATTACHED_ON,GROUP
0,4630,8774,Our stay with Marcus in Bristol was fantastic ...,Great home away from home! Bridgette and Marth...,2020-09-08 22:43:26,A
1,2879,1399,"Marcus is a brilliant, warm and friendly host....",Das Cottage liegt ruhig und sicher. Wir haben...,2020-08-31 14:06:16,D
2,1421,8257,My mum Angela and I have stayed at Marcus' ama...,This cottage was a great base from which to ex...,2020-09-03 17:01:11,G
3,2216,5181,Marcus was an exceptional host. I only stayed ...,I had a great stay. All my needs were well ex...,2020-09-20 10:21:58,F
4,6964,8342,"Marcus was welcoming, easy going and very help...",Excellent host. She provided everything we cou...,2020-08-27 06:54:31,F